_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Todo.md
_jupyter/.ipynb_checkpoints
DRAFT*.*
.DS_STORE*
_jupyter/other
_jupyter/Untitled*
_jupyter/DRAFTS
.vscode/launch.json
_jupyter/image.mp4
_jupyter/image2.mp4
_jupyter/image_2wp.mp4
