---
layout: page
permalink: /categories/
title: Categories
---


<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">{{ category_name | capitalize }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <a class="tags-post" href="{{ post.url | prepend: site.baseurl }}">
        <div>
          <span class="tags-post-title">{{ post.title }}</span>
          <div class="tags-post-line"></div>
        </div>
        <span class="tags-post-meta">
          <time datetime="{{ post.date }}">
            {{ post.date | date:"%Y-%m-%d" }}
          </time>
        </span>
      </a>
    {% endfor %}
  </div>
{% endfor %}
</div>