<script src="{{ "/_mathjax/es5/tex-chtml.js" | relative_url }}" id="MathJax-script" async></script>

<!-- <link rel="icon" href="{{ "/assets/cropped-logo-1-32x32.png" | relative_url }}" sizes="32x32"/> -->

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/apple-touch-icon.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon-32x32.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon-16x16.png" | relative_url }}">
<link rel="manifest" href="{{ "/assets/site.webmanifest" | relative_url }}">
